body{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 234, 206);
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40pt;
}
#canvas{
    border: 1px solid gray;
    background-color: rgb(253, 242, 228);;
    margin: 10px;
}
.inputfields{
    padding: 0 0 10px 0;
}
#myName{
    padding: 7px;
    border: 1px solid orange;
}
.button{
    background-color: rgb(255, 0, 0);
    font-size: 12pt;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

